* {
    padding: 0%;
    margin: 0px;
}

header {
    padding: 50px 50px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#try {
    text-decoration: none;
    text-align: center;
    border: 2px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    width: 175px;
    padding-top: 8px;
    border-radius: 26px;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

.start {
    text-align: center;
}

#start1 {
    padding: 100px 5px 95px 5px;
}

.start p {
    padding: 10px 500px 20px 500px;
}

#start1 a {
    background-color: hsl(321, 100%, 78%);
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.start img {
    width: 814px;
    height: 500px;
    padding: 20px 30px 20px 65px;
}

.views {
    display: flex;
    justify-content: space-between;
    padding: 50px 433px;
}

.grow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px 25px 230px;
    grid-column-start: initial;
}

.growimg {
    padding: 50px 50px 25px 105px;
}

.grow1 {
    padding: 145px 39px 25px 50px;
}

.grow img {
    width: 300px;
    height: 300px;
}

.build {
    text-align: center;
}

.build h1 {
    padding: 20px 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
    grid-gap: 100px;
}

.inner {
    display: flex;
    justify-content: space-between;
    padding: 12px 88px 10px 0px;
    align-items: center;
}

.footer-icon {
    padding: 10px 233px 10px 190px;
}

.footer-icon img {
    padding: 10px 0px;
}

.newsletter p {
    padding: 10px 398px 10px 0px;
}

.insub {
    padding: 10px 289px 10px 0px;
    display: flex;
    justify-content: space-between;
}

#insub1 {
    width: 248px;
    height: 25px;
    border-radius: 6px;
}

#insub2 {
    padding: 5px 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    background-color: hsl(321, 100%, 78%);
}

.newsletter h3 {
    padding: 10px 0px;
    text-transform: uppercase;
}

@media(max-width:700px) {
    #start1 {
        padding: 100px 65px 95px 65px;
    }
    .start p {
        padding: 10px 50px 20px 50px;
    }
    .start img {
        width: 635px;
        height: 400px;
        padding: 20px 5px 20px 5px;
    }
    .views {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }
    .community {
        padding-top: 30px;
    }
    .grow {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 50px 42px;
        text-align: center;
    }
    .build {
        padding: 20px 22px;
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 10px;
        grid-gap: 20px;
        text-align: center;
    }
}